/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body,
html {
  font: 16px/1.5 'Avenir Next', Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #64BBD9;
}
h1 {
  font-size: 10rem;
  width: 100%;
  text-align:center;
  color: #FFF;
  font-weight: 100;
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

canvas {
  overflow: hidden;
  cursor: crosshair;
}
